{% load i18n staticfiles %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xml:lang="{{ LANGUAGE_CODE }}" lang="{{ LANGUAGE_CODE }}" version="-//W3C//DTD XHTML 1.1//EN" xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <title>סמואל קונדיטורית בוטיק{% if not homepage %} - {% endif %}{% block title %}{% endblock title %}{% block title-page %}{% endblock title-page %}</title>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta http-equiv="cache-control" content="public" />
    <meta name="robots" content="follow, all" />
    <meta name="language" content="{{ LANGUAGE_CODE }}" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="{% block meta-description %}{% trans "Just another Zinnia weblog." %}{% endblock meta-description %}{% block meta-description-page %}{% endblock meta-description-page %}" />
    <meta name="keywords" content="{% block meta-keywords %}django, blog, weblog, zinnia{% endblock meta-keywords %}" />
    <meta name="author" content="Mor Samuel" />
    {% block meta %}{% endblock meta %}
    <!-- <link rel="pingback" href="/xmlrpc/" /> -->
    <link rel="shortcut icon" href="{% static 'margarita/images/mor/favicon.png' %}" />
    <link rel="home" href="{% url 'zinnia_entry_archive_index' %}" />
    
        
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.css' %}" type="text/css" media="screen">
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap-theme.css' %}" type="text/css" media="screen">
    <script src="{% static 'bootstrap/js/bootstrap.js' %}"></script>
    <script src="{% static 'bootstrap/js/jquery.min.js' %}"></script>
    
    <link rel="stylesheet" type="text/css" media="screen, projection" href="{% static "zinnia/css/screen.css" %}" />
    <link rel="stylesheet" type="text/css" media="print" href="{% static "zinnia/css/print.css" %}" />    	
    <link rel="stylesheet" href="{% static 'margarita/css/style.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'font-awesome/css/font-awesome.min.css' %}">
    
    <!--[if lt IE 8]>
        <link rel="stylesheet" type="text/css" media="screen, projection" href="{% static "zinnia/css/ie.css" %}" />
    <![endif]-->
    
    {% block link %}{% endblock link %}
    {% block script %}{% endblock script %}
    
    {% block extra-link %}
    {% endblock extra-link %}
    
    {% block extra-script %}
    {% endblock extra-script %}
    
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-49257171-1', 'sweetsamuel.co.il');
      ga('send', 'pageview');

    </script>
    
    
    
    
    
  </head>
  <body onload="{% block body-onload %}{% endblock body-onload %}" class="zinnia {% block theme-class %}light{% endblock theme-class %} {% block color-class %}magenta{% endblock color-class %} {% block sidebar-class %}right-sidebar{% endblock sidebar-class %} {% block body-class %}{% endblock body-class %}" >
  <header id="head">
    <div class="container">
            <div class="row" >
                <div class="col-xs-12 col-md-8" id="title">
                    <h1 style="font-size: 54px;">
                        סמואל קונדיטורית בוטיק
                    </h1>
                    
                    <h2 style="font-size: 32px;">
                        0546-345733
                    </h2>
                </div>
                <div class="col-xs-12 col-md-4" id="logo">
                    <a href="{% url 'morsite.views.homepage' %}">
                        <img src="{% static 'margarita/images/mor/logo.jpg' %}" style="height:129px;" alt="סמואל קונדיטורית בוטיק">
                    </a>
                </div>
             </div>

            <div class="row" id="navigation">
                <div id="sub-navigation" class="col-md-12 col-xs-12" style="padding:0;">
                {% block top_menu_block %}   
                    {% include  "menu/_top_menu.html" %}
                {% endblock top_menu_block %}
                </div>
            </div>
    </div>
  </header>
  

    <section  class="main-content">
      <div id="my-body" class="container">
        <div class="row" style="margin-top: 10px;">
            <div class="{% block content-cols %}col-xs-12 col-md-8{% endblock content-cols %}" style=" padding-left: 0; ">
              <div id="content" class="hfeed">
                {% block content %}

                {% endblock content %}
              </div>

            </div>
            {% block sidebar %}
            {% endblock sidebar %}
        </div>
      </div>
    </section>
    
   <div id="my-footer" class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-4">
                <p>
                    © Samuel Cakes 2014 All Rights Reserved
                <br>
                    {% blocktrans %}Powered by <a href="http://www.djangoproject.com">Django</a> and <a href="https://github.com/Fantomas42/django-blog-zinnia">Zinnia {{ ZINNIA_VERSION }}</a>{% endblocktrans %}
                </p>
            </div>
            <div class="col-sm-8 hidden-xs" id="footer-navigation">
                {% block footer_menu %}   
                        {% include  "menu/_footer_menu.html" %}
                {% endblock footer_menu %}
            </div>
        </div>
   </div>
   
    <script type="text/javascript" src="{% static 'bootstrap/js/bootstrap.js' %}"> </script>
  </body>
</html>

