{% load static %}
{% block slider_gallery_block %}    
    <div id="makeMeScrollable">
        {% for image in images %}
            <img src="{{image.thumb}}" height="{{picture_height}}">
        {% endfor %}
	</div>

	<!-- Plugin initialization -->
	<script type="text/javascript">
		// Initialize the plugin with no custom options
		$(document).ready(function () {
			// None of the options are set
			$("div#makeMeScrollable").smoothDivScroll({
            mousewheelScrolling: "allDirections",
			manualContinuousScrolling: true,
			autoScrollingMode: "onStart",
            touchScrolling: true
			});
		});
	</script>

{% endblock slider_gallery_block %}
       
