{% extends "zinnia/base.html" %}

{% block script %}
    {% load static %}
    <script src="{% static 'FancyZoom_1.1/js-global/FancyZoom.js'%}" type="text/javascript"></script>
    <script src="{% static 'FancyZoom_1.1/js-global/FancyZoomHTML.js'%}" type="text/javascript"></script>

{% endblock script %}
<!--<body id="myBody" onload="setupZoom()">  -->
{% block body-onload %}setupZoom(){% endblock body-onload %}
{% block content %}

    <table border=1 cellpadding="10">
    {% for category in prCategories %}
    <tr colspan=2>
        <td>
        <h1>{{ category.category_Name }}</h1>
        </td>
    </tr>    
    {% for product in category.product_set.all %}
        <tr>
            <td>
            {{ product.product_name }}
            </td>
            <td>
              {% if product.pictureURL %}
                    <a href="{{product.pictureURL }}" 
                    {% if product.product_description %}
                    title="{{ product.product_description}}"
                    >
                    {% endif %}
                    <img src="{{product.thumb125 }}"/></a> 
              
              {% else %}
                    &nbsp
              {% endif %} 
            </td>
        </tr>
    {% endfor %}
    
    {% endfor %}
    </table>
{% endblock content %}
<!-- </body> -->