{% extends "zinnia/base.html" %}

{% block script %}
    {% load static %}
    <script src="{% static 'FancyZoom_1.1/js-global/FancyZoom.js'%}" type="text/javascript"></script>
    <script src="{% static 'FancyZoom_1.1/js-global/FancyZoomHTML.js'%}" type="text/javascript"></script>
    <link rel="stylesheet" type="text/css" media="screen, projection" href="{% static 'FancyZoom_1.1/css/fancyZoom.css' %}" />

{% endblock script %}
{% block body-onload %}setupZoom(){% endblock body-onload %}
{% block content %}
    
    <div id="prices-container">
    <table id="prices-container">
    {% for category in prCategories %}
    <tr id="prices-container">
        <td>
        <h1>{{ category.category_Name }}</h1>
        </td>
         <td>
            <h3>{{ category.category_description }}</h3>
        </td>
    </tr>    
    {% for product in category.product_set.all %}
        <tr id="prices-container">
            <td width="125px">
              {% if product.pictureURL %}
                    <a href="{{product.pictureURL }}" 
                    {% if product.product_description %}
                    title="{{ product.product_description}}"
                    >
                    {% endif %}
                    <img src="{{product.thumb125 }}"/></a> 
              
              {% else %}
                    &nbsp
              {% endif %} 
            </td>
            <td width="200px">
            {{ product.product_name }}
            </td>
            <td>
                {{ product.priceStr }}
            </td>
        </tr>
    {% endfor %}
    
    {% endfor %}
    </table>
    </div>
{% endblock content %}
