{% extends "zinnia/base_not_home_page.html" %}

{% block title %}מחירון{% endblock title %}
{% block script %}
    {% load static %}
    <script src="{% static 'FancyZoom_1.1/js-global/FancyZoom.js'%}" type="text/javascript"></script>
    <script src="{% static 'FancyZoom_1.1/js-global/FancyZoomHTML.js'%}" type="text/javascript"></script>
{% endblock script %}
{% block link %}
    <link rel="stylesheet" type="text/css" media="screen, projection" href="{% static 'FancyZoom_1.1/css/fancyZoom.css' %}" />
    <link rel="stylesheet" href="{% static 'font-awesome/css/font-awesome.min.css' %}">
{% endblock link %}
{% block body-onload %}setupZoom(){% endblock body-onload %}

{% block sidebar %}
{% endblock sidebar %}

{% block content %}
    <h2 style="font-family:felix007Medium; margin-right: 405px; font-size:55px">מחירון</h2>
    
    {% for triple_categories in product_categories %}
        <ul id="prices-ul">
        {% for category in triple_categories %}
           
           <li id="prices-container">
                    <div id="category-picture">
                        <img src ="{{ category.pictureURL }}" />
                        <h1>{{ category.category_Name }}</h1>
                        {% if category.category_description %}
						{% if category.sizes == 2 %}
						<h4 style="float:left;padding-left:5px">{{ category.category_description }}</h4>
						{% else %}
                        <h4 style="float:left;padding-left:20px">{{ category.category_description }}</h4>
						{% endif %}
                        {% else %}
                        <h4>&nbsp<h4>
                        {% endif %}
                    </div>
                <table>
                {% for product in category.product_set.all %}
                    <tr>
                         <td id="icon-column" >
                          {% if product.pictureURL %}
                                <a href="{{product.pictureURL }}" title="{{ product.product_description}}">
                                <i class="fa fa-plus-square prices-icon"></i>                 
                                </a> 
                          
                          {% else %}
                                &nbsp
                          {% endif %} 
                        </td>
                        <td id="name-column" >
                        <h3 style="text-align:right;">{{ product.product_name }}</h3>
                        </td>
                        <td id="prices-column">
                            <h3>{{ product.priceStr }}</h3>
                        </td>
                    </tr>
                    {% if product.product_description %}
                    <tr style="line-height:12px;">
                        
                        <td colspan="3" id="description-row">
                            {{ product.product_description }}
                        </td>
                    </tr>
                    {% endif %}
                {% endfor %}
                </table>
            </li>


    {% endfor %}
    </ul>

    {% endfor %}
    
{% endblock content %}
