/* Website template by freewebsitetemplates.com */
@font-face {
	font-family: 'AlexBrush-Regular';
	src: url('../fonts/AlexBrush-Regular.eot');
	src: local('☺'), url('../fonts/AlexBrush-Regular.woff') format('woff'), url('../fonts/AlexBrush-Regular.ttf') format('truetype'), url('../fonts/AlexBrush-Regular.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

.felix007Medium {
    font-weight: normal;
    font-style: normal;
    font-family: 'felix007Medium', sans-serif;
    font-size-adjust: 0.45;
}

@font-face{ 
	font-family: 'felix007Medium';
	src: url('../fonts/felix007-medium-webfont.eot');
	src: url('../fonts/felix007-medium-webfont.eot?#iefix') format('embedded-opentype'),
	     url('../fonts/felix007-medium-webfont.woff') format('woff'),
	     url('../fonts/felix007-medium-webfont.ttf') format('truetype'),
	     url('../fonts/felix007-medium-webfont.svg#webfont') format('svg');
}


.yehuda {
    font-weight: normal;
    font-style: normal;
    font-family: 'yehuda', sans-serif;
    font-size-adjust: 0.45;
}

@font-face{ 
	font-family: 'yehuda';
	src: url('../fonts/yehudaclm-light-webfont.eot');
	src: url('../fonts/yehudaclm-light-webfont.eot?#iefix') format('embedded-opentype'),
	     url('../fonts/yehudaclm-light-webfont.woff') format('woff'),
	     url('../fonts/yehudaclm-light-webfont.ttf') format('truetype'),
	     url('../fonts/yehudaclm-light-webfont.svg#webfont') format('svg');
}


.ganfont {
    font-weight: normal;
    font-style: normal;
    font-family: 'ganfont', sans-serif;
    font-size-adjust: 0.45;
}

@font-face{ 
	font-family: 'ganfont';
	src: url('../fonts/ganclm_bold-webfont.eot');
	src: url('../fonts/ganclm_bold-webfont.eot?#iefix') format('embedded-opentype'),
	     url('../fonts/ganclm_bold-webfont.woff') format('woff'),
	     url('../fonts/ganclm_bold-webfont.ttf') format('truetype'),
	     url('../fonts/ganclm_bold-webfont.svg#webfont') format('svg');
}


body {
	/* background: #f0f0a8 url(../images/bg-body.jpg) repeat-x left top; */
    background: #f0eae3 repeat-x left top;
	font-family: Verdana, Geneva, sans-serif;
	margin: 0;
    direction:rtl;
}


/*------------------------------ Sprites ------------------------------*/

#my-body{
	background:white url(../images/bg-content-body_ng.png) repeat-x;    
    /* direction:rtl; */
}



.main-content{
padding-bottom:0;
padding-top: 6px;
}

.row{
margin-right: 0 !important;
margin-left: 0 !important;
}
/*------------------------------ HEADER ------------------------------*/
#head {
    text-align: center;
    position: relative;
    border-top: 12px solid #573013;
    background: transparent;
}

/** Logo **/
#logo {
    /* width:270px; */
    text-align: center;
}

#title {
    /* width:650px; */
    padding-top: 36px;
}
/** Navigation **/
#navigation {

}



#navigation ul {
	/* list-style: none; */
	margin:0;
    float:right;
    width:100%;
    height: 50px;
}
#navigation li {
    float: right;
    padding-right: 6px;

    top: -6px;
    padding:0 6px 0 0;
    margin-right: 7px;
}
#navigation li:hover, #navigation li.active {
	background: url(../images/bg-navi-hover.png) no-repeat right top;
}
#navigation li a {
    color: #f0eae3;
    font-size: 22px;
    padding: 16px 0 18px;
    font-family:"felix007Medium";
    
}
 #navigation li a:hover, #navigation li.active a {    
    background-color: #f0eae3;
    padding: 16px 0 25px;
    color: #563013;
} 

#nav-button{
    background-color: #f0eae3;
    color: #563013;
    font-size: 22px;
    font-family: "felix007Medium";
    padding: 4px 8px;
}
/*------------------------------ CONTENTS ------------------------------*/

#body {
	background-position: 0 0;
}
#contents h2 {
color: #9e1c20;
display: inline-block;
font-family: "ganfont";
font-size: 30px;
font-weight: normal;
line-height: 40px;
margin: 0;
padding: 0 20px;
}

#contents p, #serch-sidebar p {
	color: #7c7c7c;
	font-size: 12px;
	line-height: 18px;
	margin: 0;
	padding: 0;
}

#serch-sidebar p {
font-size:1em
}
#contents p a {
	color: #7c7c7c;
}
#contents p a:hover {
	color: #eabe60;
}


/* Prices */
.prices-icon {
font-size:18px;

}

#category-picture{
text-align: center;
}

#category-picture h1{
line-height: 20px;
margin-top: 5px;
text-align: center;
}
#prices-container{
list-style-image:none;
list-style: none;
}

#prices-container h3{
margin-top: 5px;
text-align: center;
margin: 0;  
}

#prices-ul{
direction:rtl;
}

#category-picture img{
height:205px;
width:270px;
border: 4px solid #d3d1d2;

}

#category-picture img:hover{

	filter:alpha(opacity=80);
	opacity:0.8;
}




@media (max-width: 979px) and (min-width: 768px){
.main-content {
padding-top: 12px;
}

}



#description-row{
text-align:right;
padding-left: 75px;
color:#563013;
}




/* End Prices */

/* serach page */

div .search {
margin-right: 35px;
}

#search-summary {
width: 300px;
margin-right: 35px;
display: inline-block;
}


/* end serach page */

.entry-image{
padding:5px;
}


/* contact page */

#contact-info p {
font-size:20px;
display:table;
margin:10px;
}

#facebook-wrap{
 height:27px;
 text-indent: 8px;
 padding-top: 15px;
    padding-right: 5px;
}

#newsletter-wrap{
text-align: center;
}

#contact-hr{
width:90%
}
	
/* form 1 */

	#form1{
        padding: 0 25px 0 0;
        margin-top: 0px;
		margin-bottom: 0px;
        
		}

	#form1 p{margin:.5em 0;}	
    #form1 label{
        font-size: 16px;
        margin:10px;
        font-weight:normal;
        color: #7c7c7c;
        float: right;
    }	
    
    #form1 .required{
    font-weight:bold;
    color: #DB1C1C;
    }
    
	#form1 input, #form1 textarea{		
		border:1px solid #ddd;
		background:#fff;
		padding:3px;
        font-style:italic;
        font-size:13px;
        color:black;
        float:right;
        width:100%
		}		
	#form1 textarea{
		height:185px;
		overflow:auto;
		}					
    
    #form1 td {
    vertical-align: top;
}
	#buttons{
		clear:both;
		margin:0;
		text-align:left;
        padding: 6px 0 20px 0;
        height: 60px;
    }	
    #buttons button{
    margin:0px 10px 0 0 ;
    }

.submit-button {
	-moz-box-shadow:inset 0px 1px 0px 0px #db925e;
	-webkit-box-shadow:inset 0px 1px 0px 0px #db925e;
	box-shadow:inset 0px 1px 0px 0px #db925e;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #563013), color-stop(1, #563013) );
	background:-moz-linear-gradient( center top, #563013 5%, #563013 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#563013', endColorstr='#563013');
	background-color:#563013;
	-webkit-border-top-left-radius:0px;
	-moz-border-radius-topleft:0px;
	border-top-left-radius:0px;
	-webkit-border-top-right-radius:0px;
	-moz-border-radius-topright:0px;
	border-top-right-radius:0px;
	-webkit-border-bottom-right-radius:0px;
	-moz-border-radius-bottomright:0px;
	border-bottom-right-radius:0px;
	-webkit-border-bottom-left-radius:0px;
	-moz-border-radius-bottomleft:0px;
	border-bottom-left-radius:0px;
	text-indent:0;
	border:1px solid #7a3b0d;
	display:inline-block;
	color:#f0eae3;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	font-style:normal;
	height:40px;
	line-height:40px;
	width:100px;
	text-decoration:none;
	text-align:center;
	text-shadow:1px 1px 0px #563013;
}
.submit-button:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #563013), color-stop(1, #563013) );
	background:-moz-linear-gradient( center top, #563013 5%, #563013 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#563013', endColorstr='#563013');
	background-color:#563013;
}.submit-button:active {
	position:relative;
	top:1px;
}
/* This button was generated using CSSButtonGenerator.com */


.clear-button {
	-moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
	-webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ededed), color-stop(1, #dfdfdf) );
	background:-moz-linear-gradient( center top, #ededed 5%, #dfdfdf 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#dfdfdf');
	background-color:#ededed;
	-webkit-border-top-left-radius:0px;
	-moz-border-radius-topleft:0px;
	border-top-left-radius:0px;
	-webkit-border-top-right-radius:0px;
	-moz-border-radius-topright:0px;
	border-top-right-radius:0px;
	-webkit-border-bottom-right-radius:0px;
	-moz-border-radius-bottomright:0px;
	border-bottom-right-radius:0px;
	-webkit-border-bottom-left-radius:0px;
	-moz-border-radius-bottomleft:0px;
	border-bottom-left-radius:0px;
	text-indent:0;
	border:1px solid #dcdcdc;
	display:inline-block;
	color:#777777;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	font-style:normal;
	height:40px;
	line-height:40px;
	width:100px;
	text-decoration:none;
	text-align:center;
	text-shadow:1px 1px 0px #ffffff;
}
.clear-button:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #dfdfdf), color-stop(1, #ededed) );
	background:-moz-linear-gradient( center top, #dfdfdf 5%, #ededed 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#dfdfdf', endColorstr='#ededed');
	background-color:#dfdfdf;
}.clear-button:active {
	position:relative;
	top:1px;
}


/* This button was generated using CSSButtonGenerator.com */


.form-info-icon {
margin-left: 20px;
margin-right: 20px;
font-size: 28px;
color: #383838;
vertical-align: middle;
}

#error_ol{
margin-top:2px;
margin-bottom:2px;
margin-left:10px;
text-align: right;
margin: 0px;
padding: 0px;
font-size: 1.7em;
}

#error_ol li{
color:#B80000;
font-weight:bold;
width: 250px !important;
padding: 0px !important;
text-align:right;
}

#details-td, #details-title{
    
    margin: 10px 10px 0 10px !important;
    padding: 0 !important;
    font-weight:normal;
    color: #7c7c7c !important;
    float: right !important;
    text-align: right;

}

#details-td{
font-size: 16px !important;
}
#details-title{
font-size: 20px !important;

}

/* contact page */

/** Featured **/
#featured {
    box-shadow: 10px 10px 5px #888888;"
}
#featured h3 {
	background-position: -1px 0;
	color: #fff;
	font-size: 23px;
	font-style: italic;
	font-weight: normal;
	height: 44px;
	margin: 0;
    width:100%;
	padding: 10px 0 0 0;
    float: right;
    text-align: right;
    text-indent: 25px;
    background-color: #573013;
}

#featured .featured-img{
width:100%;
}

#featured ul {
	background-position: -1591px bottom;
	list-style: none;
	margin: 0;
	padding: 0 20px 9px;
}
#featured ul li {
	border-top: 1px solid #eeeeee;
	padding-top: 10px;
    padding-bottom: 10px;
    list-style-image:none;
}
#featured ul li:first-child {
	border: 0;
}
#featured ul li img {
	float: right;
	border: 1px solid #eeeeee;
	margin: 6px 0 0 30px;
    max-height: 210px;
    max-width: 100%;
}
#featured ul li h4 {
	color: #7c7c7c;
	font-size: 20px;
	font-style: italic;
	font-weight: normal;
	margin: 3px 0px 0 0;
	padding: 0;
}
#featured ul li a.more {
	color: #563013;
	font-size: 16px;
	font-style: italic;
	text-decoration: none;
    float:left;
    margin: 0 0 0 20px;
}

#featured .entry-footer p{
line-height: 20px;
padding: 0;

}

#content {
/* width: 610px; */
/* display: inline-block; */
}

/** Links **/
#links {
	float: left;
	background: url(../images/bg-links.png) repeat-x left 5px;
	height: 187px;
	width: 600px;
	margin: 0 0 12px;
	padding: 0 0 0 20px;
}
#links > div {
	float: left;
	width: 300px;
}
#links h3 {
	background-position: -85px -64px;
	color: #ffffff;
	font-size: 16px;
	font-style: italic;
	font-weight: normal;
	height: 55px;
	line-height: 50px;
	width: 53px;
	margin: 0;
	padding: 0 6px 0 0;
	text-align: center;
}
#links > div ul {
	color: #ffffff;
	list-style: none;
	margin: 0;
	padding: 0;
}
#links > div ul li {
	padding: 0 0 0 5px;
}
#links > div ul.blog li {
	padding-bottom: 6px;
}
#links > div ul li a {
	color: #ffffff;
	font-size: 12px;
	font-style: italic;
	line-height: 12px;
	text-decoration: none;
}
#links > div ul li a span.time, #links a.more {
	color: #eabe60;
	display: block;
	font-size: 10px;
	padding: 0 0 0 12px;
}
#links a.more {
	font-style: italic;
	padding: 0 0 0 18px;
	text-decoration: none;
}
/** Sidebar **/
#sidebar {
	float: right;
	margin: 0;
	padding: 0 10px 0 30px;
}

.sidebar-section {
	color: #7d7c7c;
	list-style: none;
	border: 1px solid #ebebeb;
	margin-bottom: 16px;
	padding: 10px 0px 10px 0px;
}
.sidebar-section h3 {
	background-position: -172px -60px;
    background-color: rgb(86,48,19);
	color: #ffffff !important;
	font-size: 23px;
	font-style: italic;
	font-weight: normal;
	height: 28px;
	line-height: 28px;
	margin: 0;
    text-indent: 10px;
}



#fb-sidebar-wrap{
height: 310px;
text-align: center;
}
    
#sidebar-contact-info p {
font-size:20px;
display:table;
margin:5px 10px 5px 0px;
padding-right:8px;
}

#serch-sidebar form{
margin: 0px auto 3px auto;
text-align: center;
}

#sidebar-contact-info h3{          
	font-size:140%;
    margin-right: 20px;
	}
h4{          
	font-size:120%;
	}				

a{
	text-decoration:none;
	color:#f30;
	}
a:hover{
	color:#999;
	}			
table, input, textarea, select, li{
	font:100% Trebuchet MS, Arial, Helvetica, Sans-Serif;
	line-height:160%;
	color:#333;
	}				
p, blockquote, ul, ol, form{
	margin: 1em 0 1em 3em;
	}
img{
	border:none;
	}			

#sidebar-form{
    margin:0;
    padding: 0 8px 0 0;
    text-align:center;
    }
#sidebar-form fieldset{
    margin:0;
    padding:0;
    border:none;	
    float:left;
    display:inline;
    width:190px;
    
    direction:rtl;
    text-align:center;
    }		
#sidebar-form legend{display:none;}	

#sidebar-form label{display:block;}	
#sidebar-form input, #sidebar-form textarea{		
    width: 189px;
    border: 1px solid #ddd;
    background: #fff;
    font-style: italic;
    font-size: 13px;
    color: black;
    margin: auto;
    }
#sidebar-form p{
    margin:1px 0;
    }	    
#sidebar-form textarea{
    height:80px;
    overflow:auto;
    }					
#sidebar-form p.submit{
    clear:both;
    /* background:url(../images/form1/form_bottom.gif) no-repeat 0 100%; */
    padding:0;
    margin:0;
    text-align: center;
    }	

.sidebar-submit-button {
	-moz-box-shadow:inset 0px 1px 0px 0px #db925e;
	-webkit-box-shadow:inset 0px 1px 0px 0px #db925e;
	box-shadow:inset 0px 1px 0px 0px #db925e;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #563013), color-stop(1, #563013) );
	background:-moz-linear-gradient( center top, #563013 5%, #563013 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#563013', endColorstr='#563013');
	background-color:#563013;
	-webkit-border-top-left-radius:0px;
	-moz-border-radius-topleft:0px;
	border-top-left-radius:0px;
	-webkit-border-top-right-radius:0px;
	-moz-border-radius-topright:0px;
	border-top-right-radius:0px;
	-webkit-border-bottom-right-radius:0px;
	-moz-border-radius-bottomright:0px;
	border-bottom-right-radius:0px;
	-webkit-border-bottom-left-radius:0px;
	-moz-border-radius-bottomleft:0px;
	border-bottom-left-radius:0px;
	text-indent:0;
	border:1px solid #7a3b0d;
	display:inline-block;
	color:#f0eae3;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	font-style:normal;
	height:40px;
	line-height:40px;
	width:204px;
	text-decoration:none;
	text-align:center;
	text-shadow:1px 1px 0px #563013;
}
.sidebar-submit-button:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #563013), color-stop(1, #563013) );
	background:-moz-linear-gradient( center top, #563013 5%, #563013 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#563013', endColorstr='#563013');
	background-color:#563013;
}.sidebar-submit-button:active {
	position:relative;
	top:1px;
}
/* This button was generated using CSSButtonGenerator.com */


.sidebar-icon {
margin-left: 10px;
font-size: 24px;
color: #383838;
vertical-align: middle;
}


/* sidebar */



/** Posts **/
#posts {
	color: #7d7c7c;
	list-style: none;
	width: 230px;
	margin: 0 0 16px;
	padding: 0;
}
#posts li a {
	color: #7d7c7c;
	font-size: 12px;
	font-style: italic;
	line-height: 12px;
	text-decoration: none;
}
#posts li a span.time {
	color: #eabe60;
	display: block;
	font-size: 10px;
	padding: 0 0 0 12px;
}


/** Main **/
#main {
	float: left;
	background-position: -952px 0;
	width: 620px;
	margin: 0 0 12px;
	padding: 9px 0 0 20px;
}
#main > div {
	background-position: -1611px bottom;
	padding: 0 20px 20px 0;
}
#main > div p {
	padding-right: 30px;
}
/** Newsletter **/
#sidebar #newsletter {
	background-color: #b50b88;
	display: inline-block;
	width: 200px;
	margin: 0 0 16px;
	padding: 12px 30px;
}
#sidebar #newsletter:hover {
	background-color: #dc22a2;
}
#newsletter h3 {
	color: #fff;
	font-size: 14px;
	font-style: italic;
	font-weight: normal;
	line-height: 24px;
	margin: 0;
	padding: 0;
    text-align: center;
}
#sidebar #newsletter input.txtfield {
	float: left;
	background-color: #ffffff;
	color: #7d7c7c;
	font-size: 10px;
	font-style: italic;
	height: 18px;
	line-height: 18px;
	width: 139px;
	border: 0;
	margin: 0 0 12px;
	padding: 0 1px;
}
#sidebar #newsletter input.btn {
	float: left;
	background: none;
	background-color: #000000;
	color: #ffffff;
	cursor: pointer;
	font-size: 10px;
	height: 18px;
	line-height: 18px;
	width: auto;
	border: 0;
	margin: 0 0 12px;
	padding: 0 4px;
}
/** Connect **/
#sidebar #connect {
	background: url(../images/bg-connect.png) left top;
	height: 98px;
	width: 217px;
	margin: 0 0 16px -27px;
	padding: 18px 20px 0 48px;
}
#connect h3 {
	color: #fff;
	font-size: 14px;
	font-style: italic;
	font-weight: normal;
	height: 44px;
	line-height: 30px;
	margin: 0;
	padding: 0;
}
#connect ul {
	display: inline-block;
	list-style: none;
	margin: 0;
	padding: 0;
}
#connect li {
	float: left;
	margin: 0 6px;
}
#connect a {
	display: block;
	height: 40px;
	width: 42px;
}
#connect a.facebook {
	background-position: -50px 0;
}
#connect a.twitter {
	background-position: -50px -50px;
}
#connect a.googleplus {
	background-position: -50px -100px;
}
#connect a.vimeo {
	background-position: -50px -150px;
}
#connect a.facebook:hover {
	background-position: 0 0;
}
#connect a.twitter:hover {
	background-position: 0 -50px;
}
#connect a.googleplus:hover {
	background-position: 0 -100px;
}
#connect a.vimeo:hover {
	background-position: 0 -150px;
}

/* kisses */
.static-page-image{
max-width: 100%;
margin:6px 0 0 0 !important;
max-height: 350px !important;
float: initial !important;
}


.static-page-section{
line-height:22px;
}

/* kisses */

/** About **/
#about #main > div h4 {
	color: #7d7c7c;
	font-size: 22px;
	font-style: italic;
	font-weight: normal;
	line-height: 22px;
	border-top: 1px solid #eeeeee;
	margin: 18px 2px 30px 0;
	padding: 18px 0 0;
}
#about #main > div h4:first-child {
	border-top: 0;
	margin-top: 0;
}
/** Whats new, Scents **/
.list {
	float: left;
	list-style: none;
	width: 600px;
	margin: 0 0 12px;
	padding: 0 0 0 20px;
}
.list li {
	display: inline-block;
	border-top: 1px solid #eeeeee;
	margin: 0 2px 0 0;
	padding: 18px 30px 24px 0;
}
.list li:first-child {
	border: 0;
}
.list li img {
	float: left;
	border: 1px solid #eeeeee;
	margin: 6px 30px 0 0;
}
.list li h4 {
	color: #7c7c7c;
	font-size: 20px;
	font-style: italic;
	font-weight: normal;
	margin: 0 0 24px;
	padding: 0;
}
.list li p {
	padding-bottom: 0;
}
.list li a.more {
	color: #eabe60;
	font-size: 12px;
	font-style: italic;
	text-decoration: none;
}
}
/** Contact **/
#contact #main > div h4 {
	color: #7d7c7c;
	font-size: 22px;
	font-style: italic;
	font-weight: normal;
	line-height: 22px;
	margin: 18px 2px 30px 0;
	padding: 18px 0 0;
}
#contact form {
	width: 500px;
	margin: 18px 0 30px;
}
#contact label {
	color: #7d7c7c;
	display: inline-block;
	font-size: 12px;
	width: 80px;
	margin-right: 10px;
	text-align: right;
	text-transform: uppercase;
	vertical-align: top;
}
#contact input.txtfield {
	color: #7d7c7c;
	font-size: 12px;
	height: 34px;
	line-height: 34px;
	width: 398px;
	border: 1px solid #cccccc;
	margin: 0 0 12px;
}
#contact form textarea {
	color: #7d7c7c;
	font-size: 12px;
	height: 215px;
	line-height: 18px;
	width: 398px;
	border: 1px solid #cccccc;
	margin: 0 0 12px;
	overflow: auto;
	resize: none;
}
#contact input.btn {
	background: none;
	background-color: #bd188a;
	color: #fff;
	cursor: pointer;
	font-size: 16px;
	font-style: italic;
	height: 36px;
	line-height: 36px;
	width: 100px;
	border: 0;
	margin-left: 95px;
}
#contact input.btn:hover {
	background-color: #dc22a2;
}
#infos {
	list-style: none;
	font-size: 12px;
	line-height: 20px;
	margin: 0;
	padding: 0;
}
#infos li span {
	display: block;
	padding-bottom: 12px;
	padding-left: 30px;
	vertical-align: top;
}
#infos li span.address {
	background-position: 0 -210px;
}
#infos li span.telephone {
	background-position: 0 -290px;
}
#infos li span.email {
	background-position: 0 -340px;
	color: #eabe60;
}
#infos li span.web {
	background-position: 0 -390px;
	color: #eabe60;
}
/** Hover states **/
/* anchors */
#featured ul li a.more:hover, #links li a:hover, #links a.more:hover, #posts li a:hover, #checkout span.remove:hover, #shop a.more:hover, .list li a.more:hover {
	text-decoration: underline;
}
/* Buttons */
#sidebar > div > a:hover {
	filter:alpha(opacity=80);
	opacity: 0.8;
}
/*------------------------------ FOOTER ------------------------------*/
#my-footer, #my-footer > div:first-child {
	background: url(../images/bg-footer.png) no-repeat;
}

#my-footer {
	background-position: 0 bottom;
}
#my-footer > div:first-child {
	background-color: #ffffff;
	/* background-position: -10px 0; */
	line-height: 18px;
    height:54px;
	text-align: right;
    margin-right: -15px !important;
    margin-left: -15px !important;
}

#my-footer p {
	color: #888888;
	font-size: 10px;  
    text-align: left;
    padding-left: 20px;
    padding-top: 10px;
}
#my-footer .navigation {
	list-style: none;
    padding-top: 15px;
}
#my-footer .navigation li {
	float: right;
	margin: 0 15px;
    list-style-image: none;
    
}
#my-footer .navigation li a {
	color: #888888;
	font-size: 12px;
	text-decoration: none;
}
#my-footer .navigation li a:hover, #footer .navigation li.selected a {
	color: #9e1c20;
	text-decoration: underline;
}


/* Gallery */
#gallery-iframe {
width: 900px;
float:center;
padding:20px;

}

#pbTitle{
font-family: felix007Medium;
font-size: 40px;
text-align: center;
color:#f0eae3;
background-color:#2E2B28;
border-radius: 6px;
}


/* comments */

#id_comment {
height:70px;
background-color: #F1F1D1;
width: 75%;
font-size:1.7em;
}

.submit input{
}

/* bootstrap */


/**/
/* navbar */

/**/
/*social-icons*/
.social-icons {
  float: right;
  display: inline-block;
  margin: 0px 34px 0 0px;
}
.social-icons li {
  float: left;
  display: inline-block;
  margin-left: 3px;
}
.social-icons li a {
  display: block;
}
.social-icons li a:hover img {
  opacity: 0.7;
  filter: alpha(opacity=70);
}
/**/






#bs-example-navbar-collapse-1{
border:none;
}


@media (max-width: 767px) {

    #navigation li:first-child{
    border-top: none;
    }

    #navigation ul {
    padding-left: 0px;
    padding-right: 0px;
    height: auto !important;
    }
     
    #navigation li {
    width:100% !important;
    border-top: 1px solid #f0eae3;
    height: auto;
    padding:0;
    margin: 0px;
    }
    #navigation li a{
    padding: 10px 0 10px;
    }
    
    #navigation li a:hover, #navigation li.active a {    
    padding: 10px 0 10px;
    }
    
    #bs-example-navbar-collapse-1{
    border:solid 4px rgb(128, 75, 75);
    border-top:none;
    }
    
    #sub-navigation{
    padding-left:15px !important;
    padding-right:15px !important;
    }
    
    #pbTitle{
    font-size:28px;
    }
}


 
.navbar-default .navbar-collapse{
background-color:#563013
}

.navbar-default .navbar-toggle {
background-color:#f0eae3;
}