
{% extends "zinnia/base.html" %}
{% load static %}
{% block title %}צור קשר{% endblock title %}
{% block extra-link %}
<link rel="stylesheet" href="{% static 'font-awesome/css/font-awesome.min.css' %}">
{% endblock extra-link %}

{% block content %}


<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
      
    
<div id="featured">
    <div class="row">
        <div class="col-xs-12">
            <h3>צור קשר </h3>
        </div>
    </div>
    
    
    <div id="contact-info" class="row">
        <h5 style="padding-right: 20px;">
        להזמנות, חוות דעת על העסק או יצירת קשר, 
        התקשרו או השאירו הודעה
        </h5>
        <h5>
        <i class="fa fa-phone-square form-info-icon"></i>
        0546-345-733
        </h5>
        <h5 id="contact-info">
        <i class="fa fa-envelope form-info-icon"></i>
        mor1010@gmail.com
        </h5>
        <h5>
        <i class="fa fa-facebook-square form-info-icon"></i>
        <a href="https://www.facebook.com/morscakes">
        הצטרפו לדף הפייסבוק
        </a>
        <div id="facebook-wrap">
        <div class="fb-like" 
            data-href="https://www.facebook.com/morscakes" 
            data-layout="button" 
            data-action="like" 
            data-show-faces="false" 
            data-share="false"
            >
        </div>
        </div>
        
        </h5>
    </div>
    
    <hr id="contact-hr">
    
    <form  action="/contact/" method="post" style="margin:0">{% csrf_token %}
	<div id="form1">
        {% if send_mail_fail %}
        <div class="row">
            <div class="col-xs-12">
                <h5 id="error-message">
                שליחת ההודעה נכשלה עקב תקלה טכנית. אנא נסו שנית או צרו קשר באמצעות הדרכים המוצגות למעלה.
                </h5>
            </div>
        </div>
        
        {% endif %}
        
        {% if form.non_field_errors %}
                    <ol id="error_ol">
                        <li><strong>אנא תקן את השדות השגויים:</strong></li>
                    </ol>
        {% endif %}
          
        <div class="row">
            <div class="col-xs-9" >
                {% if form.name.errors %}
                    <ol id="error_ol">
                    {% for error in form.name.errors %}
                        <li><strong>{{ error|escape }}</strong></li>
                    {% endfor %}
                    </ol>
                {% endif %}    
                <input id="{{ form.name.id_for_label }}" name="{{ form.name.html_name }}" type="text" size="30" placeholder="שם..."
                {% if form.name.value %}
                    value="{{form.name.value}}" 
                {% endif %}
                />   
            </div>
            <div class="col-xs-3" >
                <label class="required" for="{{ form.name.id_for_label }}" >שם*</label>
            </div>
        </div>
        <div class="row">
                <div class="col-xs-9" >
                    {% if form.phone.errors %}
                        <ol id="error_ol">
                        {% for error in form.phone.errors %}
                            <li><strong>{{ error|escape }}</strong></li>
                        {% endfor %}
                        </ol>
                    {% endif %}  
                    <input id="{{ form.phone.id_for_label }}" name="{{ form.phone.html_name }}" type="text" size="30" placeholder="טלפון..."
                    {% if form.phone.value %}
                    value="{{form.phone.value}}" 
                    {% endif %}
                    />   
                </div>
                
                <div class="col-xs-3" >
                    <label class="required" for="{{ form.phone.id_for_label }}" >טלפון*</label>
                </div>
        </div>
        <div class="row">
                <div class="col-xs-9" >
                    {% if form.address.errors %}
                        <ol id="error_ol">
                        {% for error in form.address.errors %}
                            <li><strong>{{ error|escape }}</strong></li>
                        {% endfor %}
                        </ol>
                    {% endif %}  
                    <input id="{{ form.address.id_for_label }}" name="{{ form.address.html_name }}" type="text" size="30" placeholder="כתובת..."
                    {% if form.address.value %}
                        value="{{form.address.value}}" 
                    {% endif %}/>   
                </div>
                
                <div class="col-xs-3" >                
                    <label for="{{ form.address.id_for_label }}" >כתובת</label>
                </div>
        </div>
        <div class="row">
                <div class="col-xs-9" >
                    {% if form.mail.errors %}
                        <ol id="error_ol">
                        {% for error in form.mail.errors %}
                            <li><strong>{{ error|escape }}</strong></li>
                        {% endfor %}
                        </ol>
                    {% endif %} 
                    <input id="{{ form.mail.id_for_label }}" name="{{ form.mail.html_name }}" type="text" size="30" placeholder="דואר אלקטרוני..."
                    {% if form.mail.value %}
                        value="{{form.mail.value}}" 
                    {% endif %}
                    />
                </div>
                
                <div class="col-xs-3" >
                    <label for="{{ form.mail.id_for_label }}" >דואר אלקטרוני</label>
                </div>
        </div>
        <div class="row">
                <div class="col-xs-9" >
                {% if form.message.errors %}
                    <ol id="error_ol">
                    {% for error in form.message.errors %}
                        <li><strong>{{ error|escape }}</strong></li>
                    {% endfor %}
                    </ol>
                {% endif %}
                <textarea id="{{ form.message.id_for_label }}" name="{{ form.message.html_name }}" cols="30" rows="25">{% if form.message.value %}{{form.message.value}}{% endif %}</textarea>
                </div>
                <div class="col-xs-3" >
                <label class="required" for="{{ form.message.id_for_label }}" >תוכן הודעה*</label>
                </div>
        </div>
        
        
        <div clas="row" id="buttons">
            <div class="col-xs-12">
                <button type="reset" class="clear-button">נקה שדות</button>
                <button type="submit" class="submit-button">שלח!</button>
            </div>
        </div>
        
    </div>
    </form>	

</div>


{% endblock content %}