{% extends "zinnia/base.html" %}
{% load static %}
{% block content %}

<link rel="stylesheet" href="{% static 'contact_form/css/screen.css' %}" media="screen" />

<div id="form-container">		
<form id="form1" action="/contact/" method="post">{% csrf_token %}

    <fieldset><legend>Contact form</legend>
        <p class="first">
            {{ form.name.errors }}    
            <label for="{{ form.name.id_for_label }}" >שולח</label>
            <input id="{{ form.name.id_for_label }}" name="{{ form.name.html_name }}" type="text" size="30"/>   
        </p>
        <p>
            {{ form.address.errors }}    
            <label for="{{ form.address.id_for_label }}" >כתובת</label>
            <input id="{{ form.address.id_for_label }}" name="{{ form.address.html_name }}" type="text" size="30"/>   
        </p>
        <p>
            {{ form.phone.errors }}    
            <label for="{{ form.phone.id_for_label }}" >טלפון</label>
            <input id="{{ form.phone.id_for_label }}" name="{{ form.phone.html_name }}" type="text" size="30"/>   
        </p>
		<p>
            {{ form.phone.errors }}    
            <label for="{{ form.phone.id_for_label }}" >דואר אלקטרוני</label>
            <input id="{{ form.phone.id_for_label }}" name="{{ form.phone.html_name }}" type="text" size="30"/>
        </p>
        
    </fieldset>
    <fieldset>																			
        <p>            
            {{ form.message.errors }}    
            <label for="{{ form.message.id_for_label }}" >תוכן הודעה</label>
            <textarea id="{{ form.message.id_for_label }}" name="{{ form.message.html_name }}" cols="30" rows="25"></textarea>            
        </p>								
    </fieldset>					

    <p class="submit"><button type="submit">שלח</button></p>		
                
</form>	

</div>
{% endblock content %}