
{% extends "zinnia/base.html" %}
{% load static %}
{% block content %}

<link rel="stylesheet" href="{% static 'contact_form/css/contact_form.css' %}" media="screen" />

<link rel="stylesheet" href="{% static 'font-awesome/css/font-awesome.min.css' %}">

<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>




    <div id="contact-title">
        <i class="fa fa-envelope fa-4x page-title-icon"></i>
        <h1>צור קשר </h1>
    </div>
    
<div id="form-container">


    <div id="contact-info">
        <p id="contact-info">
        להזמנות, חוות דעת על העסק או יצירת קשר, 
        התקשרו או השאירו הודעה
        </p>
        <p>
        <i class="fa fa-phone-square form-info-icon"></i>
        0546-345-733
        </p>
        <p id="contact-info">
        <i class="fa fa-envelope form-info-icon"></i>
        mor1010@gmail.com
        </p>
        <p id="contact-info">
        <i class="fa fa-facebook-square form-info-icon"></i>
        <a href="https://www.facebook.com/morscakes">
        הצטרפו לדף הפייסבוק
        </a>
        <div class="fb-like" 
            data-href="https://www.facebook.com/morscakes" 
            data-layout="button" 
            data-action="like" 
            data-show-faces="false" 
            data-share="false">
        </div>
        
        </p>
    </div>
    <hr>
    
    <form  action="/contact/" method="post">{% csrf_token %}
	<div id="form1">
    {% if send_mail_fail %}
    
        <h3 id="error-message">
        שליחת ההודעה נכשלה עקב תקלה טכנית. אנא נסו שנית או צרו קשר באמצעות הדרכים המוצגות למעלה.
        </h3>
    
    {% endif %}
    
    {% if form.non_field_errors %}
                <ol id="error_ol">
                {% for error in form.non_field_errors %}
                    <li id="error"><strong>{{ error|escape }}</strong></li>
                {% endfor %}
                </ol>
    {% endif %}
      
    <fieldset><legend>Contact form</legend>
        <p class="first">
            <label for="{{ form.name.id_for_label }}" >שם</label>
            {% if form.name.errors %}
                <ol id="error_ol">
                {% for error in form.name.errors %}
                    <li id="error"><strong>{{ error|escape }}</strong></li>
                {% endfor %}
                </ol>
            {% endif %}    
            <input id="{{ form.name.id_for_label }}" name="{{ form.name.html_name }}" type="text" size="30" placeholder="שם..."/>   
        </p>
        <p>
            
            <label for="{{ form.address.id_for_label }}" >כתובת (אופציונלי)</label>
            {% if form.address.errors %}
                <ol id="error_ol">
                {% for error in form.address.errors %}
                    <li id="error"><strong>{{ error|escape }}</strong></li>
                {% endfor %}
                </ol>
            {% endif %}  
            <input id="{{ form.address.id_for_label }}" name="{{ form.address.html_name }}" type="text" size="30" placeholder="כתובת..."/>   
        </p>
        <p>
            <label for="{{ form.phone.id_for_label }}" >טלפון</label>
            {% if form.phone.errors %}
                <ol id="error_ol">
                {% for error in form.phone.errors %}
                    <li id="error"><strong>{{ error|escape }}</strong></li>
                {% endfor %}
                </ol>
            {% endif %}  
            <input id="{{ form.phone.id_for_label }}" name="{{ form.phone.html_name }}" type="text" size="30" placeholder="טלפון..."/>   
        </p>
		<p>
            <label for="{{ form.mail.id_for_label }}" >דואר אלקטרוני</label>
            {% if form.mail.errors %}
                <ol id="error_ol">
                {% for error in form.mail.errors %}
                    <li id="error"><strong>{{ error|escape }}</strong></li>
                {% endfor %}
                </ol>
            {% endif %} 
            <input id="{{ form.mail.id_for_label }}" name="{{ form.mail.html_name }}" type="text" size="30" placeholder="דואר אלקטרוני..."/>
        </p>
        
    </fieldset>
    
    <fieldset>
        <p>            
            <label for="{{ form.message.id_for_label }}" >תוכן הודעה</label>
            {% if form.message.errors %}
                <ol id="error_ol">
                {% for error in form.message.errors %}
                    <li id="error"><strong>{{ error|escape }}</strong></li>
                {% endfor %}
                </ol>
            {% endif %}
            <textarea id="{{ form.message.id_for_label }}" name="{{ form.message.html_name }}" cols="30" rows="25"></textarea>            
        </p>								
        
    </fieldset>	
    
    <p class="clear">
        <button type="reset" class="clear-button">נקה שדות</button>
        
    </p>
	
	</div>
	<button type="submit" class="submit-button">!שלח</button>
</form>	


</div>



{% endblock content %}