
{% extends "zinnia/base.html" %}
{% load static %}
{% block content %}

<link rel="stylesheet" href="{% static 'contact_form/css/contact_form.css' %}" media="screen" />

<link rel="stylesheet" href="{% static 'font-awesome/css/font-awesome.min.css' %}">


<div id="contact-title">
    <i class="fa fa-envelope fa-4x page-title-icon" style="margin-right:10px"></i>
    <h1>פנייתך התקבלה בהצלחה!</h1>
</div>
<div id="form-container">
    <div id="form1" >
    <div id="contact-info">
        <p>
        פרטי פנייתך
        </p>        
    </div>
    <hr>
    
    
       <table border=0 >
        <tr>
            <td id="details-td">
                שם 
            </td>
            <td id="details-td">
            {{ name }}
            </td>
        </tr>
        <tr>
            <td id="details-td">
                טלפון 
            </td>
            <td id="details-td">
            {{ phone }}
            </td>
        </tr>
        
        <tr>
            <td id="details-td">
                דואר אלקטרוני 
            </td>
            <td id="details-td">
            {{ mail }}
            </td>
        </tr>
        
        <tr>
            <td id="details-td">
                כתובת 
            </td>
            <td id="details-td">
            {{ address }}
            </td>
        </tr>
        
        <tr>
            <td id="details-td">
                תוכן ההודעה 
            </td>
            <td id="details-td">
            {{ message }}
            </td>
        </tr>
            
        </table>     

   
                
    </div>	



</div>



{% endblock content %}