
{% extends "zinnia/base_not_home_page.html" %}
{% load static %}
{% block content %}

<link rel="stylesheet" href="{% static 'contact_form/css/contact_form.css' %}" media="screen" />

<link rel="stylesheet" href="{% static 'font-awesome/css/font-awesome.min.css' %}">



<div id="featured" >
    
    <h3>צור קשר </h3>
    
    <ul>
    <div id="contact-info">
    <p></h3>
        <p id="contact-info">
        <i class="fa fa-envelope form-info-icon"></i>
        פנייתך התקבלה בהצלחה!
        </p>
    
    </div>
    <hr id="contact-hr">
    
    <div id="form1" >
        <p id="details-title">
        פרטי פנייתך
        </p>      
    
       <table border=0 >
        <tr>
            <td style="width:120px" id="details-td" class="required">
                שם 
            </td>
            <td id="details-td"  style="width:350px;"   >
            {{ name }}
            </td>
        </tr>
        <tr>
            <td style="width:120px" id="details-td" class="required">
                טלפון 
            </td>
            <td id="details-td"  style="width:350px;"   >
            {{ phone }}
            </td>
        </tr>
        
        <tr>
            <td style="width:120px" id="details-td" class="required">
                דואר אלקטרוני 
            </td>
            <td id="details-td"  style="width:350px;"   >
            {{ mail }}
            </td>
        </tr>
        
        <tr>
            <td style="width:120px" id="details-td" class="required">
                כתובת 
            </td>
            <td id="details-td"  style="width:350px;"   >
            {{ address }}
            </td>
        </tr>
        
        <tr>
            <td style="width:120px" id="details-td" class="required">
                תוכן ההודעה 
            </td>
            <td id="details-td"  style="width:350px;"   >
            {{ message }}
            </td>
        </tr>
            
        </table>     

   
                
    </div>	



</div>



{% endblock content %}