
{% extends "zinnia/base_not_home_page.html" %}
{% load static %}

{% block title %}מי אנחנו{% endblock title %}
{% block content %}

<div id="featured" >
    
    <h3>מי אנחנו</h3>
    
    <ul>
        <div id="contact-info">
            
            <h5>
קונדיטורית בוטיק יוקרתית מציעה לתושבי חיפה והסביבה מגוון מתוקים ומלוחים בעבודת יד. 
כל  המאפים והקינוחים מיוצרים מחומרי הגלם האיכותיים ביותר שקיימים. הכל נאפה רק לאחר ההזמנה, ולכן טרי ולעולם לא מחכה  על המדף. העוגות יפהפיות ואסטתיות במיוחד, תוך הקפדה על כל בקשות הלקוח. המשלוח עד הבית חוסך לך הרבה זמן וכסף.
            </h5>
           
        </div>
               


    </ul>
</div>



{% endblock content %}