{% extends "zinnia/base.html" %}
{% block title %}סדנאות{% endblock title %}
{% load static %}
{% block content %}


<div id="featured" >
    
    <h3>סדנאות</h3>
    
        <div class="row" id="contact-info">
            <div class="col-xs-10 col-xs-offset-1">
                <h5 class="static-page-section">
                סדנאות מקצועיות לאפייה נכונה, מדויקת ומהנה, 
                או כתחביב - לימי הולדת, מסיבת רווקות ואירועי נושא.
                </h5>
           
            </div>
        </div>
        
    <ul style="text-align:center;margin-bottom: 30px;">
        <li class="row" style="margin:1">
            <div class="col-xs-12">
                    <img src="{% static 'margarita/images/mor/IMG_3461_course1.JPG' %}" class="static-page-image" title="סדנאות" alt="סדנאות"/>
            </div>
        </li>
        
        <li class="row" style="margin:1">
            <div class="col-xs-12">
                    <img src="{% static 'margarita/images/mor/IMG_3472_course2.JPG' %}" class="static-page-image" title="סדנאות" alt="סדנאות"/>
            </div>
        </li>

        <li class="row" style="margin:1">
            <div class="col-xs-12">
                    <img src="{% static 'margarita/images/mor/IMG_3359_course3.JPG' %}" class="static-page-image" title="סדנאות" alt="סדנאות"/>
            </div>
        </li>

        <li class="row" style="margin:1">
            <div class="col-xs-12">
                    <img src="{% static 'margarita/images/mor/IMG_3662_course4.JPG' %}" class="static-page-image" title="סדנאות" alt="סדנאות"/>
            </div>
        </li>

        <li class="row" style="margin:1">
            <div class="col-xs-12">
                    <img src="{% static 'margarita/images/mor/IMG_3701_course5.JPG' %}" class="static-page-image" title="סדנאות" alt="סדנאות"/>
            </div>
        </li>    

    </ul>
</div>


{% endblock content %}