{% extends "zinnia/base_not_home_page.html" %}
{% block title %}סדנאות{% endblock title %}
{% load static %}
{% block content %}

<div id="featured" >
    
    <h3>סדנאות</h3>
        <div id="contact-info">
            <h5>

            </h5>
        </div>
    
        <div class="row-fluid" id="contact-info">
            <div class="span10 offset1">
                <h5>
                סדנאות מקצועיות לאפייה נכונה, מדויקת ומהנה, 
                או כתחביב - לימי הולדת, מסיבת רווקות ואירועי נושא.
                </h5>
           
            </div>
        </div>
    
   <ul style="text-align:center">
        <li>
            <div id="static-page-image">
            <img src="{% static 'margarita/images/mor/IMG_3461_course1.JPG' %}" title="סדנאות" alt="סדנאות"/>
            </div>
        </li>
        <li>
            <div id="static-page-image">
            <img src="{% static 'margarita/images/mor/IMG_3472_course2.JPG' %}" title="סדנאות" alt="סדנאות"/>
        </li>
        <li>
            <div id="static-page-image">
            <img src="{% static 'margarita/images/mor/IMG_3359_course3.JPG' %}" title="סדנאות" alt="סדנאות"/>
            </div>
        </li>
        <li>
            <div id="static-page-image">
            <img src="{% static 'margarita/images/mor/IMG_3662_course4.JPG' %}" title="סדנאות" alt="סדנאות"/>
            </div>
        </li>
        <li>
            <div id="static-page-image">
            <img src="{% static 'margarita/images/mor/IMG_3701_course5.JPG' %}" title="סדנאות" alt="סדנאות"/>
            </div>
        </li>        


    </ul>
</div>



{% endblock content %}