
{% extends "zinnia/base_not_home_page.html" %}
{% load static %}

{% block title %}נשיקות ממותגות{% endblock title %}
{% block content %}

<div id="featured" >
    
    <h3>נשיקות ממותגות</h3>
    
    <ul>
        <div id="contact-info">
            
            <h5>
נשיקות ממותגות מושלמות לאירועים מיוחדים כמו חתונה, בר ובת מצווה, חגים, או יום הולדת עגול. מזכרת מתוקה ויפהפיה לכל אורח ואורחת.
הנשיקות מתאימות כמתנות לעובדים או ללקוחות שלכם, כשלוגו העסק שלכם מודפס על גבי הנשיקות.
הנשיקות פרווה ומגיעות במגוון צבעים, גדלים ואריזות לבחירתכם.
            </h5>
           
        </div>
        <li>
            <div id="static-page-image">
            <img src="{% static 'margarita/images/mor/IMG_3223_kisses1.JPG' %}" title="נשיקות ממותגות" alt="נשיקות ממותגות"/>
            </div>
        </li>
        <li>
            <div id="static-page-image">
            <img src="{% static 'margarita/images/mor/kisses2.JPG' %}" title="נשיקות ממותגות" alt="נשיקות ממותגות"/>
        </li>
        <li>
            <div id="static-page-image">
            <img src="{% static 'margarita/images/mor/IMG_3244_kisses3.JPG' %}" title="נשיקות ממותגות" alt="נשיקות ממותגות"/>
            </div>
        </li>
                


    </ul>
</div>



{% endblock content %}