
{% extends "zinnia/base.html" %}
{% load static %}

{% block title %}נשיקות ממותגות{% endblock title %}
{% block content %}

<div id="featured" >
    
    <h3>נשיקות ממותגות</h3>
    
        <div class="row" id="contact-info">
            <div class="col-xs-10 col-xs-offset-1">
                <h5 class="static-page-section">
    נשיקות ממותגות מושלמות לאירועים מיוחדים כמו חתונה, בר ובת מצווה, חגים, או יום הולדת עגול. מזכרת מתוקה ויפהפיה לכל אורח ואורחת.
    הנשיקות מתאימות כמתנות לעובדים או ללקוחות שלכם, כשלוגו העסק שלכם מודפס על גבי הנשיקות.
    הנשיקות פרווה ומגיעות במגוון צבעים, גדלים ואריזות לבחירתכם.
                </h5>
           
            </div>
        </div>
    <ul style="text-align:center;margin-bottom: 30px;">
        <li class="row" style="margin:1">
            <div class="col-xs-12">
                    <img src="{% static 'margarita/images/mor/IMG_3223_kisses1.JPG' %}" class="static-page-image" title="נשיקות ממותגות" alt="נשיקות ממותגות"/>
            </div>
        </li>
        <li class="row" id="contact-info">
            <div class="col-xs-12">
                    <img src="{% static 'margarita/images/mor/kisses2.JPG' %}" class="static-page-image" title="נשיקות ממותגות" alt="נשיקות ממותגות"/>
            </div>
        </li>
        <li class="row" id="contact-info">
            <div class="col-xs-12">
                    <img src="{% static 'margarita/images/mor/IMG_3244_kisses3.JPG' %}" class="static-page-image" title="נשיקות ממותגות" alt="נשיקות ממותגות"/>
            </div>
        </li>
                


    </ul>
</div>



{% endblock content %}