<!DOCTYPE html>
<!-- Website template by freewebsitetemplates.com -->
<html>
<head>
	<meta charset="UTF-8">
	<title>Shop - The Margarita Website Template</title>
	<link rel="stylesheet" href="css/style.css" type="text/css">
</head>
<body>
	<div id="page">
		<div id="header">
			<div id="logo">
				<a href="index.html"><img src="images/logo.png" alt="LOGO"></a>
			</div>
			<div id="navigation">
				<a href="checkout.html" class="cart"></a>
				<ul>
					<li>
						<a href="index.html">Home</a>
					</li>
					<li>
						<a href="news.html">What's New</a>
					</li>
					<li>
						<a href="scents.html">Scents</a>
					</li>
					<li class="selected">
						<a href="shop.html">Shop</a>
					</li>
					<li>
						<a href="about.html">About</a>
					</li>
					<li>
						<a href="blog.html">Blog</a>
					</li>
					<li>
						<a href="contact.html">Contact</a>
					</li>
				</ul>
			</div>
		</div>
		<div id="contents">
			<div id="adbox">
				<img src="images/perfume-adNew.jpg" style="margin-top:2px" height="157" alt="Img">
			</div>
			<div id="shop" class="body">
				<h2>Shop</h2>
				<a href="checkout.html" class="btn"></a>
				<p class="message">
					Phasellus nec elementum quam. Vivamus at lectus purus. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. <a href="index.html" class="more">&gt;&gt;&gt; Learn More</a>
				</p>
				<ul>
					<li>
						<img src="images/perfume-bottles.jpg" alt="Img"> <span class="price">$1</span> <a href="shop.html" class="cart">Add to Cart</a>
						<p>
							Perfume 1 <span class="manufacturer">by The Margarita Fragrance</span> <span class="remarks">*New Arrival</span>
						</p>
					</li>
					<li>
						<img src="images/perfumes.jpg" alt="Img"> <span class="price">$1</span> <a href="shop.html" class="cart">Add to Cart</a>
						<p>
							Perfume 1 <span class="manufacturer">by The Margarita Fragrance</span> <span class="remarks">*New Arrival</span>
						</p>
					</li>
					<li>
						<img src="images/perfume-bottles.jpg" alt="Img"> <span class="price">$1</span> <a href="shop.html" class="cart">Add to Cart</a>
						<p>
							Perfume 1 <span class="manufacturer">by The Margarita Fragrance</span> <span class="remarks">*New Arrival</span>
						</p>
					</li>
					<li>
						<img src="images/perfume-purple.jpg" alt="Img"> <span class="price">$1</span> <a href="shop.html" class="cart">Add to Cart</a>
						<p>
							Perfume 1 <span class="manufacturer">by The Margarita Fragrance</span> <span class="remarks">*New Arrival</span>
						</p>
					</li>
					<li>
						<img src="images/perfume-colors.jpg" alt="Img"> <span class="price">$1</span> <a href="shop.html" class="cart">Add to Cart</a>
						<p>
							Perfume 1 <span class="manufacturer">by The Margarita Fragrance</span> <span class="remarks">*New Arrival</span>
						</p>
					</li>
					<li>
						<img src="images/perfume-green.jpg" alt="Img"> <span class="price">$1</span> <a href="shop.html" class="cart">Add to Cart</a>
						<p>
							Perfume 1 <span class="manufacturer">by The Margarita Fragrance</span> <span class="remarks">*New Arrival</span>
						</p>
					</li>
					<li>
						<img src="images/perfumes2.jpg" alt="Img"> <span class="price">$1</span> <a href="shop.html" class="cart">Add to Cart</a>
						<p>
							Perfume 1 <span class="manufacturer">by The Margarita Fragrance</span> <span class="remarks">*New Arrival</span>
						</p>
					</li>
					<li>
						<img src="images/perfume-blue.jpg" alt="Img"> <span class="price">$1</span> <a href="shop.html" class="cart">Add to Cart</a>
						<p>
							Perfume 1 <span class="manufacturer">by The Margarita Fragrance</span> <span class="remarks">*New Arrival</span>
						</p>
					</li>
					<li>
						<img src="images/perfume-pink.jpg" alt="Img"> <span class="price">$1</span> <a href="shop.html" class="cart">Add to Cart</a>
						<p>
							Perfume 1 <span class="manufacturer">by The Margarita Fragrance</span> <span class="remarks">*New Arrival</span>
						</p>
					</li>
				</ul>
			</div>
		</div>
		<div id="footer">
			<div>
				<ul class="navigation">
					<li>
						<a href="index.html">Home</a>
					</li>
					<li>
						<a href="news.html">What's New</a>
					</li>
					<li>
						<a href="scents.html">Scents</a>
					</li>
					<li class="selected">
						<a href="shop.html">Shop</a>
					</li>
					<li>
						<a href="about.html">About</a>
					</li>
					<li>
						<a href="blog.html">Blog</a>
					</li>
					<li>
						<a href="contact.html">Contact</a>
					</li>
				</ul>
				<p>
					© The Margarita Fragrance 2012. All Rights Reserved.
				</p>
			</div>
		</div>
	</div>
</body>
</html>