
{% load static %}
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
<meta name="description" content="Slide Down Box Menu with jQuery and CSS3" />
<meta name="keywords" content="jquery, css3, sliding, box, menu, cube, navigation, portfolio, thumbnails"/>


<link rel="stylesheet" href="{% static 'SlideDownBoxMenu/css/style.css'%}" type="text/css" media="screen"/>

<!-- <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script> -->
<script type="text/javascript" src="{% static "zinnia/js/jquery.js" %}"></script>
<script type="text/javascript" src="{% static 'SlideDownBoxMenu/jquery.easing.1.3.js'%}"></script>

