{% load menubuilder %}
{% load_menu %} 
{% block top_menu_block %}    
    <ul>
    {% for item , menu_item_width in menuitems %}
        <li 
            style="width:{{ menu_item_width }}px;"
                    {% if item == highlighted  %}
                        class="selected"
                    {% endif %}
                    >
                        <a href="{{ item.link_url }}">
                            {{item.title}}
                        </a>
                    </li>
    {% endfor %}
    </ul>
{% endblock top_menu_block %}